.animate-img {
  animation: round 50s linear infinite;
}

@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tablet Responsive */
@media only screen and (max-width: 768px) {
  .animate-img {
    animation: none;
  }
}

/* Mobile Responsive */
@media only screen and (max-width: 60px) {
  .animate-img {
    animation: none;
  }
}
